(quick-start:top)=
# Quick Start

If you are familiar with using a REST based API already, this page contains some of the most common operations you are likely to want to use with our API.

If you are not familiar with REST APIs, we can recommend reading [Introduction to Populating a Website with API Data ](https://programminghistorian.org/en/lessons/introduction-to-populating-a-website-with-api-data) from the excellent [Programming Historian](https://programminghistorian.org) site.

## Retrieve a single object record

The simplest operation. If you already know the system number assigned to the object you want to retrieve, then you can just retrieve it with a GET request.

In [4]:
import requests
req = requests.get('https://api.vam.ac.uk/v2/museumobject/O828146')
object_data = req.json()
print("The object you requested has the title '%s'" % object_data["record"]["titles"][0]["title"])

The object you requested has the title 'Picturesque Holland'

Here we just print out the first ('primary') title from the record. The full object data response is explained in {doc}`object-fields-full:top`, a quicker overview of the most commonly used fields is in {ref} `object-fields-summary:top`.

## Searching object record(s)

If you are looking for records that match some word(s), you can use the 'q' parameter to query all fields in all object records and return those that match. Below we are searching for any records with the word 'Etruria'

In [19]:
import requests
import pandas as pd

object_df = pd.read_csv("https://api.vam.ac.uk/v2/objects/search?q=Etruria&page_size=50&response_format=csv")
object_df.head()

,accessionNumber,systemNumber,objectType,_primaryTitle,_primaryPlace,_primaryMaker__name,_primaryMaker__association,_primaryDate,_primaryImageId,_sampleMaterial,_sampleTechnique,_sampleStyle,_currentLocation__displayName,_objectContentWarning,_imageContentWarning
0,S.1897-2013,O1263636,Dish,Mr Punch dish,Staffordshire,Wedgwood of Etruria and Barlaston,makers,mid 20th century,2013GL4747,earthenware,moulding,NaN,In store,False,False
1,E.2084-1949,O596454,Watercolour,"Wedgwood Works, Etruria",Etruria,Puller,artist,1943,2008BV7718,watercolour,painting,NaN,"Prints & Drawings Study Room, level H",False,False
2,CIRC.737&A-1956,O308545,Teapot and cover,NaN,england,Etruria,NaN,c.1785,2019LN7745,stoneware,NaN,NaN,In store,False,False
3,C.307-1951,O278785,Plate,NaN,england,Etruria,NaN,c.1812-1816,2010EC4842,porcelain,NaN,NaN,"Ceramics, Room 139, The Curtain Foundation Gal...",False,False
4,C.129 to A-1956,O332163,Vase and cover,NaN,Staffordshire,Etruria,NaN,1869,2019LX6435,stoneware,NaN,NaN,In store,False,False

```{note}

`See {ref}`searching:top` for full details on the problems you might encounter with searching across all fields and how you might find more relevant results using more selective search parameters.
```

## Filtering object records(s)

Rather than searching for words occuring anywhere in a record, filtering matches identifiers assigned to a concept such as a type of material,a production technnique, a person, etc. For example, to find all object records that mention the use of 'jet' (which has the identifier 'AAT45514'):

In [7]:
import requests
import pandas as pd

object_df = pd.read_csv("https://api.vam.ac.uk/v2/objects/search?id_material=AAT45514&page_size=50&response_format=csv")
object_df.head()

,accessionNumber,systemNumber,objectType,_primaryTitle,_primaryPlace,_primaryMaker__name,_primaryMaker__association,_primaryDate,_primaryImageId,_sampleMaterial,_sampleTechnique,_sampleStyle,_currentLocation__displayName,_objectContentWarning,_imageContentWarning
0,T.236B&C-1986,O1174801,Pair of earrings,NaN,NaN,Unknown,NaN,before 1986,2019MD7121,jet,cutting (glassworking),NaN,In store,False,False
1,T.236A-1986,O1174800,Bracelet,NaN,NaN,Unknown,NaN,before 1986,2019MD1256,jet,NaN,NaN,In store,False,False
2,T.165G-1987,O293624,Hat pin,NaN,England,Madame Stephane,designer,early 20th century,2019MC0358,jet,NaN,NaN,In store,False,False
3,T.165H-1987,O293623,Hat pin,NaN,England,Madame Stephane,designer,early 20th century,2019MC0349,jet,NaN,NaN,In store,False,False
4,T.165I-1987,O293622,Hat pin,NaN,England,Madame Stephane,designer,early 20th century,2019MC0364,jet,NaN,NaN,In store,False,False

In [ ]:
```{note}
See much more on this {ref}`filtering:top`. Some common identifiers are listed {ref}`identifiers:top` to get you started.

```

## Clustering object records

If you are more interested in the numbers of objects that match a query than the individual objects themselves, you can use the cluster endpoints which returns the counts of objects matching on one or more of the controlled vocabulary fields. There are two endpoints, one return counts for all applicable fields, the other will only return the counts for the field of interest (material, technique, person, etc).

### All clusters

In [21]:

import requests
import pandas as pd
import altair as alt

req = requests.get('https://api.vam.ac.uk/v2/objects/clusters/search?q=Paris')
object_data = req.json()
object_info = object_data["info"]
record_count = object_info["record_count"]
object_clusters = object_data["clusters"]

print(f"The matching {record_count} object records for the query 'Paris' have these clusters:")

for cluster_type in object_clusters:
    print("  Cluster type '%s' has the most common value ''%s'" % (cluster_type, object_clusters[cluster_type]["terms"][0]["value"]))

From 73819 matching object records:
  Cluster type 'category' has the most common value ''Designs'
  Cluster type 'person' has the most common value ''Jean-Charles Worth'
  Cluster type 'organisation' has the most common value ''Worth'
  Cluster type 'collection' has the most common value ''Prints, Drawings & Paintings Collection'
  Cluster type 'gallery_location' has the most common value ''Prints & Drawings Study Room, level E'
  Cluster type 'style' has the most common value ''French School'
  Cluster type 'place' has the most common value ''Paris'
  Cluster type 'object_type' has the most common value ''Fashion design'
  Cluster type 'technique' has the most common value ''watercolour drawing'
  Cluster type 'material' has the most common value ''watercolour'
  Cluster type 'maker' has the most common value ''Worth'
  Cluster type 'associated' has the most common value ''Louvre (Paris)'
  Cluster type 'depicts' has the most common value ''Paris'

### Single cluster type(s)

If you already know the type(s) of cluster you want to retrieve (for example materials), you have two choices. You can pass a 'cluster_type' parameter to the same endpoint as above, the response is the same but with only the cluster you specified. For example

In [14]:
import requests
import pandas as pd
import altair as alt

req = requests.get('https://api.vam.ac.uk/v2/objects/clusters/search?cluster_type=material&id_place=x29337&made_after_year=1700&made_before_year=1800&page_size=10')
object_data = req.json()
object_clusters = object_data["clusters"]
materials = object_clusters["material"]["terms"]

materials_df = pd.DataFrame(materials[0:10])
alt.Chart(materials_df, title="Materials used in C18th Welsh objects").mark_bar().encode(
    x=alt.X('value', sort='-y', title='Material'),
    y=alt.Y('count', title='Number of Objects'))

alt.Chart(...)

### Specified cluster type

Alternatively, you can use a different endpoint which contains the single cluster type in the parth. This returns only the term information, making it easy to load into data science utulities such as Pandas.

The second option just returns the term information, which makes it even easy to load into some data science tools such as Pandas:

In [18]:
import pandas as pd
import altair as alt

#materials_df = pd.read_json('https://api.vam.ac.uk/v2/objects/clusters/material/search?id_place=x29337&made_after_year=1700&made_before_year=1800&page_size=10', orient='columns')
#alt.Chart(materials_df, title="Materials used in C18th Welsh objects").mark_bar().encode(
#    x=alt.X('value', sort='-y', title='Material'),
#    y=alt.Y('count', title='Number of Objects'))

                                                terms
0   {'id': 'AAT14109', 'value': 'paper (fiber prod...
1   {'id': 'AAT14190', 'value': 'photographic pape...
2   {'id': 'AAT15045', 'value': 'water-colour', 'c...
3   {'id': 'x30308', 'value': 'paper', 'count': 97...
4   {'id': 'x33202', 'value': 'watercolour', 'coun...
5   {'id': 'x44137', 'value': 'toned paper', 'coun...
6   {'id': 'x30344', 'value': 'card', 'count': 32,...
7   {'id': 'x33202', 'value': 'Watercolour', 'coun...
8   {'id': 'x30347', 'value': 'pencil', 'count': 2...
9   {'id': 'AAT127389', 'value': 'salted paper', '...
10  {'id': 'AAT15012', 'value': 'ink', 'count': 16...
11  {'id': 'AAT14067', 'value': 'cotton (textile)'...
12  {'id': 'AAT11051', 'value': 'wash', 'count': 1...
13  {'id': 'AAT14078', 'value': 'canvas', 'count':...
14  {'id': 'AAT15050', 'value': 'oil colour', 'cou...
15  {'id': 'AAT187371', 'value': 'printing ink', '...
16  {'id': 'x29356', 'value': 'earthenware', 'coun...
17  {'id': 'x30308', 'value': 'Paper', 'count': 6,...
18  {'id': 'x30605', 'value': 'crayon', 'count': 6...
19  {'id': 'AAT10662', 'value': 'porcelain', 'coun...

```{warn}
Currently returning a dict wrapping the array, this will change post launch to just an array returned
```